flask
pypdf
python-dotenv
langgraph
langchain-groq
langchain
langchain-community
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
requests
scikit-learn
flask-sqlalchemy
PyPDF2
groq
sounddevice
soundfile
gtts
composio-langchain
composio-core