flask
python-dotenv
langgraph
langchain-groq
langchain
langchain-community
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
requests
scikit-learn
PyPDF2
groq
sounddevice
soundfile
gtts